USE [master]
GO
/****** Object:  Database [AkirasBoutiques]    Script Date: 26/7/2022 17:11:20 ******/
CREATE DATABASE [AkirasBoutiques]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AkirasBoutiques', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AkirasBoutiques.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AkirasBoutiques_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AkirasBoutiques_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AkirasBoutiques].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AkirasBoutiques]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[apellido] [text] NOT NULL,
	[direccion] [text] NOT NULL,
	[fec_nac] [date] NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle](
	[id_detalle] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha] [date] NULL,
	[id_detalle] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[precio] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (1, N'Blusa', N'Prenda abierta de tela fina , similar a la camisa , que usan las mujeres y los niños , y que cubre la parte superior del cuerpo')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (2, N'Falda', N'Prenda de vestir que cuelga de la cintura y cubre las piernas, al menos en parte. ')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (3, N'Pantalón', N'Prenda de vestir que se ajusta a la cintura y llega generalmente hasta el pie , cubriendo cada pierna separadamente .')
GO
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (0, N'María Antonieta', N'García Meléndez ', N'Calle las Girasol #305 col. Jardines ', CAST(N'1989-06-15' AS Date), 1828921321, N'mariantonia@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (1, N'Óscar Germán', N'Wong Tabares ', N'Calle Revolución #879 col. México', CAST(N'1994-01-28' AS Date), 2035672143, N'germanwong@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (2, N'Valentina Anastasia', N'Huerta Corral', N'Calle Flamenco #3493 col. Aviar', CAST(N'1992-07-03' AS Date), 0, N'valehue92@gmail.com')
GO
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (1, 32, 4, 1600)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (2, 8, 3, 690)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (3, 39, 4, 200)
GO
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (1, 9, CAST(N'2021-12-22' AS Date), 1)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (2, 9, CAST(N'2021-10-11' AS Date), 2)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (3, 4, CAST(N'2021-12-07' AS Date), 3)
GO
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (1, N'Blusa de flores', 200, 70, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (2, N'Blusa tipo escocesa ', 150, 35, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (3, N'Blusa rayada manga larga', 100, 37, 1)
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD  CONSTRAINT [id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle] CHECK CONSTRAINT [id_producto]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_cliente]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_detalle] FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle] ([id_detalle])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_detalle]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [id_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [id_categoria]
GO
USE [master]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 13/09/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[id_empleado] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[apellido] [text] NOT NULL,
	[Dirección] [text]  NOT NULL, 
    [telefono] [int] NOT NULL,
    [Edad] [int] not null,
    [Sucursal] [text] not null,
    [email] [text] NOT NULL,
    [contraseña] [int] not null,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[empleado] ([id_empleado], [nombre], [apellido], [Dirección], [telefono], [Edad],[Sucursal],[email], [contraseña]) VALUES (0, N'María Antonieta', N'García Meléndez ', N'Calle las Girasol #305 col. Jardines ', N'55389467', N'32', N'Akira’s Boutique: Las Mercedes', N'mariantonia@gmail.com', N'98745654')
INSERT [dbo].[empleado] ([id_empleado], [nombre], [apellido], [Dirección], [telefono], [Edad],[Sucursal],[email], [contraseña]) VALUES (1, N'Francisco', N'Ramirez Romo ', N'Calle magon #74 col. esperanza ', N'55367411', N'23', N'Akira’s Boutique: Las Mercedes', N'ra_ro-francisco67@gmail.com', N'87363543')
INSERT [dbo].[empleado] ([id_empleado], [nombre], [apellido], [Dirección], [telefono], [Edad],[Sucursal],[email], [contraseña]) VALUES (2, N'Esmeralda Ximena', N'Perez Estrada ', N'Calle Fuentes #23 col. Jardines ', N'56389404', N'33', N'Akira’s Boutique: Las Mercedes', N'Ximena-patito0@gmail.com', N'12398746')
select *from empleado
select * from empleado
select * from empleado



select * from empleado
/****** Object:  Table [dbo].[sucursales]    Script Date: 14/09/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id_sucursal] [int] not null,
	[nombre sucursal] [text] NOT NULL,
	[encargado] [text] NOT NULL,
	[Dirección] [text]  NOT NULL, 
    [telefono] VARCHAR(15) NOT NULL,
    [ciudad] [text] not null,
    [estado] [text] not null,
  PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
select * from sucursales
INSERT [dbo].[sucursales] ([id_sucursal], [nombre sucursal], [encargado], [Dirección], [telefono], [ciudad],[estado]) VALUES (1, N'Akira’s Boutique: Las Mercedes', N'Sonia Alejandra Fernández Moreno ', N'Calle Roble #507 Fracc. Las Mercedes', N'4447831225', N'San Luis Potosí', N'San Luis Potosí')
INSERT [dbo].[sucursales] ([id_sucursal], [nombre sucursal], [encargado], [Dirección], [telefono], [ciudad],[estado]) VALUES (2, N'Akira’s Boutique: Obraje', N'Fernando Calderón Ayala ', N'Calle Dr. Jesús Díaz de León #438 col. Obraje', N'4493780921', N'Aguascalientes', N'Aguascalientes')
INSERT [dbo].[sucursales] ([id_sucursal], [nombre sucursal], [encargado], [Dirección], [telefono], [ciudad],[estado]) VALUES (3, N'Akira’s Boutique: Galerías Mazatlán', N'Daniela Fernanda Diaz Ordaz ', N'Av. de la Marina #6204, Marina, local 35', N'6692932059', N'Mazatlan', N'Sinaloa')
ALTER TABLE dbo.sucursales
ALTER COLUMN telefono VARCHAR(15) NOT NULL;
select * from sucursales
ALTER TABLE empleado
ADD id_sucursal INT;
select * from empleado
/********relacion de tablas. empleado y sucursales para relacionar encargados****/
ALTER TABLE empleado
ADD CONSTRAINT FK_empleado_sucursales
FOREIGN KEY (id_sucursal)
REFERENCES sucursales(id_sucursal);
/*** consultas ***/
SELECT 
    e.nombre AS empleado,
    s.[nombre sucursal] AS sucursal
FROM empleado e
INNER JOIN sucursales s
    ON e.id_sucursal = s.id_sucursal;
/*** consulta de empleado con la sucursal en la que trabaja***/
SELECT id_empleado, nombre, Sucursal
FROM empleado;

/** consulta de sucursales***/
SELECT id_sucursal, [nombre sucursal]
FROM sucursales;

/** consulta de la relacion empleado sucursal***/
SELECT id_sucursal, Dirección FROM sucursales;
SELECT id_empleado, nombre, id_sucursal
FROM empleado;

UPDATE empleado SET id_sucursal = 1 WHERE id_empleado = 0;
UPDATE empleado SET id_sucursal = 1 WHERE id_empleado = 1;
UPDATE empleado SET id_sucursal = 1 WHERE id_empleado = 2;
UPDATE empleado SET id_sucursal = 1 WHERE id_empleado = 3;
UPDATE empleado SET id_sucursal = 1 WHERE id_empleado = 4;
UPDATE empleado SET id_sucursal = 1 WHERE id_empleado = 5;

UPDATE empleado SET id_sucursal = 2 WHERE id_empleado = 6;
UPDATE empleado SET id_sucursal = 2 WHERE id_empleado = 7;
UPDATE empleado SET id_sucursal = 2 WHERE id_empleado = 8;
UPDATE empleado SET id_sucursal = 2 WHERE id_empleado = 9;
UPDATE empleado SET id_sucursal = 2 WHERE id_empleado = 10;
UPDATE empleado SET id_sucursal = 2 WHERE id_empleado = 11;

UPDATE empleado SET id_sucursal = 3 WHERE id_empleado = 12;
UPDATE empleado SET id_sucursal = 3 WHERE id_empleado = 13;
UPDATE empleado SET id_sucursal = 3 WHERE id_empleado = 14;
UPDATE empleado SET id_sucursal = 3 WHERE id_empleado = 15;
UPDATE empleado SET id_sucursal = 3 WHERE id_empleado = 16;
UPDATE empleado SET id_sucursal = 3 WHERE id_empleado = 17;

UPDATE empleado SET id_sucursal = 4 WHERE id_empleado = 18;
UPDATE empleado SET id_sucursal = 4 WHERE id_empleado = 19;
UPDATE empleado SET id_sucursal = 4 WHERE id_empleado = 20;
UPDATE empleado SET id_sucursal = 4 WHERE id_empleado = 21;
UPDATE empleado SET id_sucursal = 4 WHERE id_empleado = 22;
UPDATE empleado SET id_sucursal = 4 WHERE id_empleado = 23;

UPDATE empleado SET id_sucursal = 5 WHERE id_empleado = 24;
UPDATE empleado SET id_sucursal = 5 WHERE id_empleado = 25;
UPDATE empleado SET id_sucursal = 5 WHERE id_empleado = 26;
UPDATE empleado SET id_sucursal = 5 WHERE id_empleado = 27;
UPDATE empleado SET id_sucursal = 5 WHERE id_empleado = 29;

UPDATE empleado SET id_sucursal = 6 WHERE id_empleado = 30;
UPDATE empleado SET id_sucursal = 6 WHERE id_empleado = 31;
UPDATE empleado SET id_sucursal = 6 WHERE id_empleado = 32;
UPDATE empleado SET id_sucursal = 6 WHERE id_empleado = 33;
UPDATE empleado SET id_sucursal = 6 WHERE id_empleado = 34;

UPDATE empleado SET id_sucursal = 7 WHERE id_empleado = 35;
UPDATE empleado SET id_sucursal = 7 WHERE id_empleado = 36;
UPDATE empleado SET id_sucursal = 7 WHERE id_empleado = 37;
UPDATE empleado SET id_sucursal = 7 WHERE id_empleado = 38;
UPDATE empleado SET id_sucursal = 7 WHERE id_empleado = 39;
UPDATE empleado SET id_sucursal = 7 WHERE id_empleado = 40;


/** relacion empleado, encargado de sucursal**/
SELECT
    e.id_empleado,
    e.nombre AS empleado,
    s.[nombre sucursal] AS sucursal,
    s.encargado AS encargado_sucursal
FROM empleado e
INNER JOIN sucursales s
    ON e.id_sucursal = s.id_sucursal;


/** consulta empleado = cuidad ***/
SELECT
    e.id_empleado,
    e.nombre AS empleado,
    s.ciudad AS ciudad_sucursal
FROM empleado e
INNER JOIN sucursales s
    ON e.id_sucursal = s.id_sucursal;
